/*---------------------------------------->> Variables Declaration <<----------------------------------------*/
/*---------------------------------------->> Typography <<----------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #333;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1.1em; }

h4 {
  font-size: 0.9em; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  font-size: .8em; }

main section {
  padding: 30px 0; }

figure {
  overflow: hidden; }

figure img {
  /*width: 100%;*/ }

a:hover,
a:focus,
a {
  text-decoration: none;
  color: inherit;
  outline: none; }

/*---------------------------------------->> Buttons CSS <<----------------------------------------*/
.btn {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  border: none; }
  .btn:hover, .btn:focus {
    outline: none;
    box-shadow: none; }

.list-group .list-group-item {
  border: none;
  padding: 0; }

/*---------------------------------------->> Header CSS <<----------------------------------------*/
body {
  background: #ccc;
  margin: 5em 0; }

.wrapper .container {
  position: relative; }
  .wrapper .container:before, .wrapper .container:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 20px 10px #777;
    -moz-box-shadow: 0 20px 10px #777;
    box-shadow: 0 20px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .wrapper .container:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .wrapper .container > .row {
    position: relative;
    background: #fff;
    padding: 4em 15px; }
    .wrapper .container > .row:before, .wrapper .container > .row:after {
      content: '';
      position: absolute;
      top: 7em;
      width: .6em;
      height: 12em;
      background: #7bb3b2; }
    .wrapper .container > .row:before {
      left: 0; }
    .wrapper .container > .row:after {
      right: 0; }

.rk-profile {
  text-align: center; }
  .rk-profile .rkp-name h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #7bb3b2;
    border-bottom: 2px solid #7bb3b2;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    .rk-profile .rkp-name h1 span {
      font-weight: 700;
      display: block;
      color: #333; }
  .rk-profile .rkp-name h3 {
    font-size: 1.6em;
    text-transform: uppercase; }
  .rk-profile figure {
    width: 20em;
    height: 20em;
    margin: 2em auto 1.5em;
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #f9f9f9;
    transition: linear .3s; }
    .rk-profile figure img {
      width: inherit;
      height: 100%;
      object-fit: cover;
      filter: grayscale(0.3);
      transition: linear .3s; }
    .rk-profile figure:hover {
      border: 1px solid #7bb3b2; }
      .rk-profile figure:hover img {
        filter: grayscale(0); }

.rk-item .rki-title h2 {
  padding: .4em 0;
  text-transform: uppercase;
  border-top: 2px solid rgba(123, 179, 178, 0.3);
  border-bottom: 2px solid rgba(123, 179, 178, 0.3);
  margin-bottom: 25px;
  font-weight: 600;
  position: relative; }
  .rk-item .rki-title h2:before, .rk-item .rki-title h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 8em;
    height: 4px;
    background: #7bb3b2;
    transition: linear .3s; }
  .rk-item .rki-title h2:before {
    top: -3px; }
  .rk-item .rki-title h2:after {
    bottom: -3px; }
.rk-item:hover .rki-title h2:before, .rk-item:hover .rki-title h2:after {
  width: 9em; }
.rk-item article h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2px; }
.rk-item article h4 {
  font-style: italic;
  color: #666;
  margin-bottom: 2px; }
.rk-item article h4 + p {
  margin-top: 5px; }
.rk-item article p + p {
  margin-top: 25px; }
.rk-item article + article {
  margin-top: 25px; }

.rki-skill-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }
  .rki-skill-list li {
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    transition: linear .3s; }
    .rki-skill-list li:hover {
      box-shadow: 0 1px 3px 0px rgba(123, 179, 178, 0.1); }
    .rki-skill-list li p {
      margin-bottom: 0; }
    .rki-skill-list li:not(:last-child) {
      margin-bottom: 10px; }

.rki-contact-list li [class*='fa-'] {
  color: rgba(123, 179, 178, 0.7);
  width: 12px;
  margin-right: 10px;
  transition: linear .3s; }
.rki-contact-list li a {
  display: flex; }
.rki-contact-list li p {
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 1px dotted transparent;
  transition: linear .3s; }
.rki-contact-list li:not(:last-child) {
  margin-bottom: 10px; }
.rki-contact-list li:hover [class*='fa-'] {
  color: #7bb3b2; }
.rki-contact-list li:hover p {
  color: #7bb3b2;
  border-bottom: 1px dotted #7bb3b2; }

/*# sourceMappingURL=master.css.map */
