/* 
Rasik Kunwar
Movie Review Assignment
This file contains valid CSS3. This file has used styling the position, background color, color, font family, margin, padding, text alignment, font size, font weight and many more to beautify the review page.
 */
body {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#moviereview {
    background-image: url(../images/movie/background.png);
}

header {
    background-image: url(../images/movie/bannerbg.png);
    text-align: center;
    background-repeat: repeat-x;
}
h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999 ;
}

#content {
    border: 4px solid #8A7E6C;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

#rotten {
    background-image: url(../images/movie/rbg.png);
    height: 83px;
}
#rotten img{
    vertical-align: bottom;
}
#rottenper {
    color: red;
    font-size: 48pt;
    font-weight: bold;
    bottom: 15px;
}

.reviewcontent {
    width: 47%;
    float: left;
}

.reviewcontent p {
    margin: 5px;
    text-align: justify;
    font-style: italic;
}

.reviewcontent p img {
    float: left;
    margin-right: 5px;
}


.review {
    margin-right: 10pt;
    margin-left: 10pt;
    margin-top: 20pt;
    border: 2px solid #8A7E6C;
    border-radius: 10px;
    background-color: #E8DC9B;
    padding: 5px;
    font-weight: bold;
}

#reviewcontainer {
    width: 550px;
    float: left;
}

#overviewcontainer {
    background-color: #A2B964;
    width: 250px;
    float: right;
}

dl {
    margin-left: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

dl dt {
    margin-top: 10px;
}

dl dd {
    text-align: justify;
    padding: 4px;
    margin: 10px;
}

#pagecontainer {
    background-color: #A2B964;
    padding: 5px;
    clear: both;
    text-align: center;
}
#validation{
    position: fixed;
    right: 20px;
    bottom: 15px;
    opacity: 0.5;
}
ul{
    padding: 0;
}
ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}