body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

#header {
    background-color: #ADD8E6;
    text-align: center;
    padding: 1%;
    font-size: 150%;
}

#navbar {
    background-color: #2E4F4F;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#navbar ul>li {
    list-style-type: none;
    box-shadow: 2px 0 #080F0E;
    color: #ffff;
    padding: 15px;
}
#column{
    display: flex;
    height: 300px;
}
#column1 {
    flex:1;
    background-color: #AAAAAA;
    padding:10px;
}

#column2 {
    flex:2;
    background-color: #BBBBBB;
    padding: 10px;
}

#column3 {
    flex:1;
    background-color: #CCCCCC;
    padding: 10px;
}
#footer {
    background-color: #2E4F4F;
    text-align: center;
    padding: 1%;
    font-size: 150%;
    color: white;
}
@media screen and (max-width: 600px) {/* any screen < 600px */
    #column{
        flex-wrap: wrap;
    }
    #column > *{
        flex-basis: 200px;
    }
    #column2{
        order: 1;
     }
}